@model IEnumerable<ASP_Epreuve.Models.MediaListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Media)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Produit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Media)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Produit)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id_Media }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_Media }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_Media })
            </td>
        </tr>
}
    </tbody>
</table>
